@{
    ViewData["Title"] = "Home Page";
}

    <h3>
        How to call Campus Nexus API built with ASP.NET Core using the Microsoft identity platform (formerly Azure Active Directory for developers)
    </h3>
    <p>
        This sample call secured Campus Nexus API with user based AccessToken.
        The client uses OpenID Connect to sign in users. It leverages the ASP.NET Core OpenID Connect middleware and MSAL.NET.
        <br/>
        <a asp-area="" asp-controller="Courses" asp-action="Index" class="btn btn-info">View Courses to begin</a>
    </p>
<img src="~/images/topology.png"/>
